*.css.map
*.log
.env
.DS_Store
dump.rdb
project.properties
project.xml
config.json
/vendor
/Homestead.yaml
/Homestead.json
/.idea
/.idea/*
/database/procedures/.idea
/.vagrant
/.vagrant/*
/Vagrantfile
/storage/public
/tests/**/output
/tests/robot/variables.py
/tests/robot/variables.pyc
/.sass-cache
/.sass-cache/*
/_phpstorm.meta.php
*_ide_helper.php
/_phpstorm_meta.php
phpdoc-cache-*.dat
.vscode
/.phpstorm.meta.php
/_ide_helper_models.php
/nbproject/
